{% extends 'base_pages/main_page.html' %} {% block main_content %}
{% block script %}
{% if button and update %}
<script>

function delete_manager(url) {
    if (confirm('Точно удалить менеджера? Все его заявки, в работе, перейдут в статус - не начата! ')) {
        fetch(url, {
            method: "DELETE",
            redirect: 'manual',
            headers: {
              "Content-type": "application/json; charset=UTF-8"
            }
          })
          .then(response => {
            response.json().then(data => {
                window.location.replace(data.url)
            })
          })
          .catch(error => {
            console.log(error)
          });
      }
}
{% endif %}
</script>
{% endblock script %}
<div class="p-5">
  <div
    class="mx-auto bg-background-light dark:bg-background-dark p-5 rounded-md shadow-md"
  >
    <h2 class="text-2xl font-bold text-left mb-5">
      {% if update %}
      <span
        class="font-bold text-xl text-text-light-800 dark:text-text-dark-300"
        >Редактирование менеджера: </span
      >
      <span class="font-bold text-lg">{{ manager.name }}</span> {% else %}
      Создание нового менеджера {% endif %}
    </h2>
    <hr class="mb-2" />
    <div class="flex-wrap gap-4">
        <form
          class="text-text-light dark:text-text-dark"
          action="{% if update %}{{ url_for('start_manager_update', manager_id=manager.id) }}{% else %}{% endif %}"
          method="post"
          enctype="multipart/form-data"
        >
            <div class="mb-5">
                <label for="content_text" class="block mb-2 text-sm font-medium"
                >Email (Логин):</label
                >
                <input
                type="email"
                name="email"
                id="email"
                class="bg-background-light border border-background-light-300 rounded-lg focus:ring-background-light-secondary-600 focus:border-background-light-secondary-600 block w-full p-2.5 dark:bg-background-dark dark:border-background-dark-700 dark:placeholder-gray-400 disabled:bg-background-light-200 dark:disabled:bg-background-dark-800"
                placeholder="Новая карточка"
                required=""
                {% if update %}disabled{% endif %}
                value="{% if manager.email and update %}{{ manager.email }}{% endif %}"
                />
            </div>

            <div class="mb-5">
                <label for="label" class="block mb-2 text-sm font-medium"
                >Имя</label
                >
                <input
                type="text"
                name="name"
                id="name"
                class="bg-background-light border border-background-light-300 rounded-lg focus:ring-background-light-secondary-600 focus:border-background-light-secondary-600 block w-full p-2.5 dark:bg-background-dark dark:border-background-dark-700 dark:placeholder-gray-400 "
                placeholder="Новая карточка"
                required=""
                value="{% if manager.name and update %}{{ manager.name }}{% endif %}"
                />
            </div>
            <div class="mb-5">
                <label for="content_link" class="block mb-2 text-sm font-medium"
                >Telegram-id</label
                >
                <input
                type="text"
                name="telegram_user_id"
                id="telegram_user_id"
                class="bg-background-light border border-background-light-300 rounded-lg focus:ring-background-light-secondary-600 focus:border-background-light-secondary-600 block w-full p-2.5 dark:bg-background-dark dark:border-background-dark-700 dark:placeholder-gray-400"
                placeholder="https://link.com"
                value="{% if manager.telegram_user_id and update %}{{ manager.telegram_user_id }}{% endif %}"
                />
            </div>
            <button
                type="submit"
                class="w-full bg-background-light-secondary-200 hover:bg-background-light-secondary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-background-dark-secondary dark:hover:bg-background-dark-secondary-900 border border-background-light dark:border-background-dark"
            >
                {% if update %}Обновить менеджера{% else %}Создать менеджера{% endif %}
            </button>
            {% if not manager.is_superuser and update %}
                <button
                type="button"
                class="mt-2 w-full bg-contrast-700 hover:bg-contrast text-text-dark font-medium rounded-lg text-sm px-5 py-2.5 text-center  border border-background-light dark:border-background-dark"
                onClick=delete_manager("{{ url_for('manager_delete', manager_id=manager.id) }}")
                >
                    Удалить менеджера
                </button>
            {% endif %}
        </form>
    </div>
  </div>
</div>
{% endblock main_content %}