{% extends 'base_pages/main_page.html' %} {% block main_content %}

<div class="p-5">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
    >
      <thead
        class="text-xs text-text-light uppercase bg-background-light-secondary dark:bg-background-dark-secondary dark:text-text-dark"
      >
        <tr>
          <th scope="col" class="px-6 py-3">Вопрос</th>
          <th scope="col" class="px-6 py-3">Дата создания</th>
          <th scope="col" class="px-6 py-3">Способ связи</th>
          {% if user.is_superuser %}
            <th scope="col" class="px-6 py-3">Менеджер</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for contact_request in contact_requests %}
        <tr
          class="bg-background-light border-b dark:bg-background-dark dark:border-gray-700 hover:bg-background-light-secondary dark:hover:bg-background-dark-secondary"
        >
          <th scope="row" class="px-6 py-4 font-bold text-text-light-secondary dark:text-text-dark-secondary whitespace-nowrap cursor-pointer underline" onClick=window.location.replace("{{ url_for('contact_request_details', contact_request_id=contact_request.id) }}")>
            {{ contact_request.text|truncate(70) }}
          </th>
          <td class="px-6 py-4 text-text-light-secondary whitespace-nowrap dark:text-text-dark">{{ contact_request.created_at.strftime('%d.%m.%Y %H:%M:%S') }}</td>
          {% if contact_request.contact_via_telegram %}
            <td class="px-6 py-4">Телеграм: <a href="https://t.me/{{ contact_request.name }}" class="underline hover:font-medium">{{ contact_request.name }}</a></td>
          {% elif contact_request.contact_via_phone%}
            <td class="px-6 py-4">Телефон: <a href="tel:{{ contact_request.phone }}" class="underline hover:font-medium">{{ contact_request.phone }}</a></td>
          {% elif contact_request.contact_via_phone %}
            <td class="px-6 py-4">Email: <a href="mailto:{{ contact_request.email }}" class="underline hover:font-medium">{{ contact_request.email }}</a></td>
          {% else %}
            <td class="px-6 py-4">-</td>
          {% endif %}
          {% if user.is_superuser %}
            <td class="px-6 py-4">{{ contact_request.manager.name }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock main_content %}
