<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>SCID_BOT_1 admin panel</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', path='/css/scid_bot_1.css') }}"
      rel="stylesheet"
    />
    <script
      defer
      src="{{ url_for('static', path='js/theme_loader.js') }}"
    ></script>
  </head>

  <body
    class="bg-background_light dark:bg-background_dark text-text_light dark:text-text_dark"
  >
    {% include 'sidebar.html' %}

    <main
      class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-content_background_light dark:bg-content_background_dark min-h-screen transition-all main"
    >
      {% set user={"name": "Пользователь", "email":"user@user.ru"} %}
      {% include 'navbar.html' %}

      <!-- Content -->
      <div class="p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-6">
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="flex items-center mb-1">
                  <div class="text-2xl font-semibold">2</div>
                </div>
                <div class="text-sm font-medium text-gray-400">Users</div>
              </div>
              <div class="dropdown">
                <button
                  type="button"
                  class="dropdown-toggle text-gray-400 hover:text-gray-600"
                >
                  <i class="ri-more-fill"></i>
                </button>
                <ul
                  class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]"
                >
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>

            <a
              href="/gebruikers"
              class="text-[#f84525] font-medium text-sm hover:text-red-800"
              >View</a
            >
          </div>
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-4">
              <div>
                <div class="flex items-center mb-1">
                  <div class="text-2xl font-semibold">100</div>
                  <div
                    class="p-1 rounded bg-emerald-500/10 text-emerald-500 text-[12px] font-semibold leading-none ml-2"
                  >
                    +30%
                  </div>
                </div>
                <div class="text-sm font-medium text-gray-400">Companies</div>
              </div>
              <div class="dropdown">
                <button
                  type="button"
                  class="dropdown-toggle text-gray-400 hover:text-gray-600"
                >
                  <i class="ri-more-fill"></i>
                </button>
                <ul
                  class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]"
                >
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Profile</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Settings</a
                    >
                  </li>
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <a
              href="/dierenartsen"
              class="text-[#f84525] font-medium text-sm hover:text-red-800"
              >View</a
            >
          </div>
          <div
            class="bg-white rounded-md border border-gray-100 p-6 shadow-md shadow-black/5"
          >
            <div class="flex justify-between mb-6">
              <div>
                <div class="text-2xl font-semibold mb-1">100</div>
                <div class="text-sm font-medium text-gray-400">Blogs</div>
              </div>
              <div class="dropdown">
                <button
                  type="button"
                  class="dropdown-toggle text-gray-400 hover:text-gray-600"
                >
                  <i class="ri-more-fill"></i>
                </button>
                <ul
                  class="dropdown-menu shadow-md shadow-black/5 z-30 hidden py-1.5 rounded-md bg-white border border-gray-100 w-full max-w-[140px]"
                >
                  <li>
                    <a
                      href="#"
                      class="flex items-center text-[13px] py-1.5 px-4 text-gray-600 hover:text-blue-500 hover:bg-gray-50"
                      >Logout</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <a
              href=""
              class="text-[#f84525] font-medium text-sm hover:text-red-800"
              >View</a
            >
          </div>
        </div>
      </div>
      <!-- End Content -->
    </main>

    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
      // start: Sidebar
      const sidebarToggle = document.querySelector(".sidebar-toggle");
      const sidebarOverlay = document.querySelector(".sidebar-overlay");
      const sidebarMenu = document.querySelector(".sidebar-menu");
      const main = document.querySelector(".main");
      sidebarToggle.addEventListener("click", function (e) {
        e.preventDefault();
        main.classList.toggle("active");
        sidebarOverlay.classList.toggle("hidden");
        sidebarMenu.classList.toggle("-translate-x-full");
      });
      sidebarOverlay.addEventListener("click", function (e) {
        e.preventDefault();
        main.classList.add("active");
        sidebarOverlay.classList.add("hidden");
        sidebarMenu.classList.add("-translate-x-full");
      });
      document
        .querySelectorAll(".sidebar-dropdown-toggle")
        .forEach(function (item) {
          item.addEventListener("click", function (e) {
            e.preventDefault();
            const parent = item.closest(".group");
            if (parent.classList.contains("selected")) {
              parent.classList.remove("selected");
            } else {
              document
                .querySelectorAll(".sidebar-dropdown-toggle")
                .forEach(function (i) {
                  i.closest(".group").classList.remove("selected");
                });
              parent.classList.add("selected");
            }
          });
        });
      // end: Sidebar

      // start: Popper
      const popperInstance = {};
      document.querySelectorAll(".dropdown").forEach(function (item, index) {
        const popperId = "popper-" + index;
        const toggle = item.querySelector(".dropdown-toggle");
        const menu = item.querySelector(".dropdown-menu");
        menu.dataset.popperId = popperId;
        popperInstance[popperId] = Popper.createPopper(toggle, menu, {
          modifiers: [
            {
              name: "offset",
              options: {
                offset: [0, 8],
              },
            },
            {
              name: "preventOverflow",
              options: {
                padding: 24,
              },
            },
          ],
          placement: "bottom-end",
        });
      });
      document.addEventListener("click", function (e) {
        const toggle = e.target.closest(".dropdown-toggle");
        const menu = e.target.closest(".dropdown-menu");
        if (toggle) {
          const menuEl = toggle
            .closest(".dropdown")
            .querySelector(".dropdown-menu");
          const popperId = menuEl.dataset.popperId;
          if (menuEl.classList.contains("hidden")) {
            hideDropdown();
            menuEl.classList.remove("hidden");
            showPopper(popperId);
          } else {
            menuEl.classList.add("hidden");
            hidePopper(popperId);
          }
        } else if (!menu) {
          hideDropdown();
        }
      });

      function hideDropdown() {
        document.querySelectorAll(".dropdown-menu").forEach(function (item) {
          item.classList.add("hidden");
        });
      }
      function showPopper(popperId) {
        popperInstance[popperId].setOptions(function (options) {
          return {
            ...options,
            modifiers: [
              ...options.modifiers,
              { name: "eventListeners", enabled: true },
            ],
          };
        });
        popperInstance[popperId].update();
      }
      function hidePopper(popperId) {
        popperInstance[popperId].setOptions(function (options) {
          return {
            ...options,
            modifiers: [
              ...options.modifiers,
              { name: "eventListeners", enabled: false },
            ],
          };
        });
      }
      // end: Popper

      // start: Tab
      document.querySelectorAll("[data-tab]").forEach(function (item) {
        item.addEventListener("click", function (e) {
          e.preventDefault();
          const tab = item.dataset.tab;
          const page = item.dataset.tabPage;
          const target = document.querySelector(
            '[data-tab-for="' + tab + '"][data-page="' + page + '"]'
          );
          document
            .querySelectorAll('[data-tab="' + tab + '"]')
            .forEach(function (i) {
              i.classList.remove("active");
            });
          document
            .querySelectorAll('[data-tab-for="' + tab + '"]')
            .forEach(function (i) {
              i.classList.add("hidden");
            });
          item.classList.add("active");
          target.classList.remove("hidden");
        });
      });
      // end: Tab

      // start: Chart
      new Chart(document.getElementById("order-chart"), {
        type: "line",
        data: {
          labels: generateNDays(7),
          datasets: [
            {
              label: "Active",
              data: generateRandomData(7),
              borderWidth: 1,
              fill: true,
              pointBackgroundColor: "rgb(59, 130, 246)",
              borderColor: "rgb(59, 130, 246)",
              backgroundColor: "rgb(59 130 246 / .05)",
              tension: 0.2,
            },
            {
              label: "Completed",
              data: generateRandomData(7),
              borderWidth: 1,
              fill: true,
              pointBackgroundColor: "rgb(16, 185, 129)",
              borderColor: "rgb(16, 185, 129)",
              backgroundColor: "rgb(16 185 129 / .05)",
              tension: 0.2,
            },
            {
              label: "Canceled",
              data: generateRandomData(7),
              borderWidth: 1,
              fill: true,
              pointBackgroundColor: "rgb(244, 63, 94)",
              borderColor: "rgb(244, 63, 94)",
              backgroundColor: "rgb(244 63 94 / .05)",
              tension: 0.2,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      function generateNDays(n) {
        const data = [];
        for (let i = 0; i < n; i++) {
          const date = new Date();
          date.setDate(date.getDate() - i);
          data.push(
            date.toLocaleString("en-US", {
              month: "short",
              day: "numeric",
            })
          );
        }
        return data;
      }
      function generateRandomData(n) {
        const data = [];
        for (let i = 0; i < n; i++) {
          data.push(Math.round(Math.random() * 10));
        }
        return data;
      }
      // end: Chart
    </script>
  </body>
</html>
