{% extends 'base_pages/auth_pages.html' %} {% block title %}SCID_BOT_1 сброс
пароля{% endblock title %} {% block page_name %}Смена пароля{% endblock
page_name %} {% block page_text %}{% endblock page_text %} {% block error %}{%
if error %}{{ error }}{% else %}Введите старый и новый пароль, для изменения{%
endif %}{% endblock error %} {% block page_form %}
<form
  class="space-y-4 md:space-y-6"
  action="{{ url_for('start_change_password') }}"
  method="post"
>
  <div>
    <label for="email" class="block mb-2 text-sm font-medium"
      >Ваш старый пароль</label
    >
    <input
      type="password"
      name="old_password"
      id="old_password"
      class="bg-background_light border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-background_dark dark:border-gray-600 dark:placeholder-gray-400"
      placeholder="••••••••"
      required=""
    />
    <label for="email" class="block mb-2 mt-2 text-sm font-medium"
      >Ваш новый пароль</label
    >
    <input
      type="password"
      name="new_password1"
      id="new_password1"
      class="bg-background_light border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-background_dark dark:border-gray-600 dark:placeholder-gray-400"
      placeholder="••••••••"
      required=""
    />
    <label for="email" class="block mb-2 mt-2 text-sm font-medium"
      >Еще раз Ваш новый пароль</label
    >
    <input
      type="password"
      name="new_password2"
      id="new_password2"
      class="bg-background_light border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-background_dark dark:border-gray-600 dark:placeholder-gray-400"
      placeholder="••••••••"
      required=""
    />
  </div>
  <button
    type="submit"
    class="w-full bg-background_light_secondary hover:bg-background_light_secondary-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-background_dark_secondary dark:hover:bg-background_dark_secondary-700 border border-content_background_light dark:border-content_background_dark"
  >
    Сбросить пароль
  </button>
</form>
<a href="{{ url_for('main_page') }}">
  <button
    type="button"
    class="w-full bg-background_light_secondary hover:bg-background_light_secondary-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-background_dark_secondary dark:hover:bg-background_dark_secondary-700 border border-content_background_light dark:border-content_background_dark mt-2"
  >
    Назад
  </button>
</a>
<div class="grid justify-items-end">
  {% include 'elements/theme_changer.html' %}
</div>

{% endblock page_form %}
