{% extends 'base_pages/auth_pages.html' %}
{% block title %}SCID_BOT_1 вход{% endblock title %}
{% block page_name %}ADMIN PANEL{% endblock page_name %}
{% block page_text %}Вход в профиль{% endblock page_text %}
{% block error %}{% if error %}{{ error }}{% endif %}{% endblock error %}

{% block page_form %}
<form class="space-y-4 md:space-y-6" action="{{ url_for('authorization') }}" method="post">
  <div>
    <label for="email" class="block mb-2 text-sm font-medium">Ваш email</label>
    <input
      type="email"
      name="username"
      id="username"
      class="bg-background_light border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-background_dark dark:border-gray-600 dark:placeholder-gray-400"
      placeholder="name@company.com"
      required=""
    />
  </div>
  <div>
    <label
      for="password"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Ваш пароль</label
    >
    <input
      type="password"
      name="password"
      id="password"
      placeholder="••••••••"
      class="bg-background_light border border-gray-300 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-background_dark dark:border-gray-600 dark:placeholder-gray-400"
      required=""
    />
  </div>
  <div class="grid justify-items-end">
    <a href="{{ url_for('forgot_password')}}" class="text-sm font-medium hover:underline">Забыли пароль?</a>
  </div>
  <button
    type="submit"
    class="w-full bg-background_light_secondary hover:bg-background_light_secondary-700 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-background_dark_secondary dark:hover:bg-background_dark_secondary-700 border border-content_background_light dark:border-content_background_dark"
  >
    Войти
  </button>
  <div class="grid justify-items-end">
    {% include 'elements/theme_changer.html' %}
  </div>
</form>
{% endblock page_form %}
