<div
  class="py-2 px-6 bg-background_light_secondary dark:bg-background_dark_secondary text-text_light_secondary dark:text-text_dark_secondary flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30"
>
  <ul class="ml-auto flex items-center">
    {% include 'elements/theme_changer.html' %}
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      type="button"
    >
      <div class="p-2 md:block text-left">
        <h2 class="text-sm font-semibold text-text_light dark:text-text_dark">
          {{ user.name }}
        </h2>
        <p class="text-xs text-gray-500">{{ user.email }}</p>
      </div>
    </button>

    <div
      id="dropdown"
      class="z-60 hidden bg-background_light_secondary divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-background_dark_secondary border-background_light dark:border-background_dark"
    >
      <ul
        class="py-2 text-sm"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="{{ url_for('change_password') }}"
            class="block px-4 py-2 hover:bg-background_light dark:hover:bg-background_dark"
            >Смена пароля</a
          >
        </li>
        <hr>
        <li>
          <form method="POST" action="">
            <a
              role="menuitem"
              class="flex items-center py-1.5 px-4 text-text_light dark:text-text_dark hover:text-contrast dark:hover:text-contrast cursor-pointer"
              onclick="event.preventDefault();
                        this.closest('form').submit();"
            >
              Выход
            </a>
          </form>
        </li>
      </ul>
    </div>
  </ul>
</div>
