<div
  class="py-2 px-6 bg-background-light-secondary dark:bg-background-dark-secondary text-text-light-secondary dark:text-text-dark-secondary flex items-center shadow-md shadow-black/5 sticky top-0 left-0 z-30"
>

  <ul class="ml-auto flex items-center">
    <span class="text-contrast">
        {{ navbar_error }}
    </span>
    {% include 'elements/theme_changer.html' %}
    <button
      id="dropdownDefaultButton"
      data-dropdown-toggle="dropdown"
      type="button"
    >
      <div class="p-2 md:block text-left">
        <h2 class="text-sm font-semibold text-text-light dark:text-text-dark">
          {{ user.name }}
        </h2>
        <p class="text-xs text-gray-500">{{ user.email }}</p>
      </div>
    </button>
    <div
      id="dropdown"
      class="z-60 hidden bg-background-light-secondary divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-background-dark-secondary border-background-light dark:border-background-dark"
    >
      <ul
        class="py-2 text-sm"
        aria-labelledby="dropdownDefaultButton"
      >
        <li>
          <a
            href="{{ url_for('change_password') }}"
            class="block px-4 py-2 hover:bg-background-light-300 dark:hover:bg-background-dark"
            >Смена пароля</a
          >
        </li>
        <hr>
        <li>
          <form method="post" action="{{ url_for('logout_user') }}">
            <a
              class="flex items-center py-1.5 px-4 text-text-light dark:text-text_dark hover:text-contrast dark:hover:text-contrast cursor-pointer"
            >
              <button type="submit">Выход</button>
            </a>
          </form>
        </li>
      </ul>
    </div>
  </ul>
</div>
