<div
  class="fixed left-0 top-0 w-64 h-full p-4 z-50 sidebar-menu transition-transform bg-background-light-secondary dark:bg-background-dark-secondary text-text-light_secondary dark:text-text-dark-secondary"
>
  <a href="{{ url_for('main_page') }}" class="flex items-center pb-4 border-b border-b-gray-800">
    <h2 class="font-bold text-xl">
      ADMIN
      <span class="bg-contrast text-white px-2 rounded-md">SCID_BOT_1</span>
    </h2>
  </a>
  <span>
    {{ navbar_error }}
  </span>
  <ul class="mt-4">
    {% if user.is_superuser %}
    <span class="text-text-light-600 dark:text-text-dark-400 font-bold">Телеграм-бот</span>
    <li class="mb-1 group {% if '/setting-bot-menu' in request.path %}active{% endif %}">
      <a
        href="{{ url_for('setting_bot_menu') }}"
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Структура бота</span>
      </a>
    </li>
    {% endif %}
    <span class="text-text-light-600 dark:text-text-dark-400 font-bold">Заявки на обратную связь</span>
    <li class="mb-1 group">
      <a
        href="{{ url_for('contact_requests_main', contact_request_type='new') }}"
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Новые заявки</span>
      </a>
    </li>
    <li class="mb-1 group">
      <a
        href="{{ url_for('contact_requests_main', contact_request_type='work') }}"
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Заявки в работе</span>
      </a>
    </li>
    {% if user.is_superuser %}
      <li class="mb-1 group">
        <a
          href="{{ url_for('contact_requests_main', contact_request_type='processed') }}"
          class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
        >
          <i class="ri-home-2-line mr-3 text-lg"></i>
          <span class="text-sm">Выполненные заявки</span>
        </a>
      </li>
    {% endif %}
    <span class="text-text-light-600 dark:text-text-dark-400 font-bold">Отзывы</span>
    <li class="mb-1 group">
      <a
        href=""
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Список отзывов</span>
      </a>
    </li>
    {% if user.is_superuser %}
    <span class="text-text-light-600 dark:text-text-dark-400 font-bold">Менеджеры</span>
    <li class="mb-1 group {% if '/fr_managers/add' in request.path %}active{% endif %}">
      <a 
        href="{{ url_for('managers_add') }}"
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Добавить менеджера</span>
      </a>
    </li>
    <li class="mb-1 group {% if '/fr_managers/list' in request.path %}active{% endif %}">
      <a 
        href="{{ url_for('managers_main') }}"
        class="flex font-semibold items-center py-2 px-4 text-text-light hover:bg-background-dark hover:text-text-dark rounded-md group-[.active]:bg-background-dark group-[.active]:text-text-dark dark:text-text-dark dark:hover:bg-background-dark-950 dark:hover:text-text-dark dark:group-[.active]:bg-background-dark-950 dark:group-[.active]:text-text-dark"
      >
        <i class="ri-home-2-line mr-3 text-lg"></i>
        <span class="text-sm">Список менеджеров</span>
      </a>
    </li>
    {% endif %}
  </ul>
</div>
<div
  class="fixed top-0 left-0 w-full h-full bg-black/50 z-40 md:hidden sidebar-overlay"
></div>